@charset "utf-8";


html, body {
	height: 100%;
	overflow: hidden;
}

.middle .main {
	width: 6px;
	height: 100%;
	cursor: pointer;
}

.middle .leftArrow {
	background: url(../../images/admin/middle_bg.gif) #d9d9d9 -6px center no-repeat;
}

.middle .leftArrow:hover {
	/* background-color: #e2e2e2; */
}

.middle .rightArrow {
	background: url(../../images/admin/middle_bg.gif) #d9d9d9 -18px center no-repeat;
}

.middle .rightArrow:hover {
	/* background-color: #eeeeee; */
}

.addBar {
	margin-top:1px;
	height:30px;
	background-color:#f1f1f1;
	padding-top:5px;
	padding-left:30px
}

.pageBar{
	margin-top:10px;
	height:30px;
	padding-top:5px;
	padding-left:30px
}

.pageBar a{
	text-decoration:underline
}